/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/

.tbl-form th, .tbl-form td {padding:5px 0px 5px 15px!important;border-collapse: collapse;}

/*.overlay{

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: rgba(255,255,255,0.8) url("../img/loading.gif") center no-repeat;
}*/
/* Turn off scrollbar when body element has the loading class */
/*body.loading{
    overflow: hidden;   
}*/
/* Make spinner image visible when body element has the loading class */
.loading{
    /*display: block;*/
    background: url("../img/loading.gif") center no-repeat;
    padding:20px;
}